* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-title-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn {
  display: block;
  padding: 10px 20px;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.product-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-container .product-title {
  display: flex;
  justify-content: space-between;
}
